{% block country_widget %}
    {% if attr.translateChoiceValue is not defined %}
        {% set attr = attr|merge({'translateChoiceValue': false}) %}
    {% endif %}
    {{ block('choice_widget') }}
{% endblock %}

{% block locale_widget %}
    {% if attr.translateChoiceValue is not defined %}
        {% set attr = attr|merge({'translateChoiceValue': false}) %}
    {% endif %}
    {{ block('choice_widget') }}
{% endblock %}

{% block currency_widget %}
    {% if attr.translateChoiceValue is not defined %}
        {% set attr = attr|merge({'translateChoiceValue': false}) %}
    {% endif %}
    {{ block('choice_widget') }}
{% endblock %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                    {% if attr.translateChoiceValue is defined and attr.translateChoiceValue == false
                                        {% if attr.translateChoiceValue is defined and attr.translateChoiceValue == false
                                            or (form.parent.vars.attr.translateChoiceValue is defined
                                                    and form.parent.vars.attr.translateChoiceValue == false)  %}
                        {{ choice.label }}
                    {% else %}
                        {{ choice.label|trans({}, translation_domain) }}
                    {% endif %}
                </option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}


{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
                {{ form_label(child, child.vars.label|default(null), { 'label_attr': {'translateChoiceValue': attr.translateChoiceValue} }) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if label_attr.translateChoiceValue is defined and label_attr.translateChoiceValue == false %}
                {{ label }}
            {% else %}
                {{ label|trans({}, translation_domain) }}
            {% endif %}

            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}
